<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- Incluir el fragmento de cabecera -->
  <head th:replace="~{layout/plantilla :: head}"></head>
  <body>
    <!-- Incluir el fragmento de encabezado -->
    <header th:replace="~{layout/plantilla :: header}"></header>

    <!-- Incluir el fragmento de encabezado de bienvenida -->
    <div th:replace="~{iniciosesion/fragmentos :: bienvenida-header}"></div>

    <!-- Mostrar condicionalmente el fragmento de formulario de login o el de usuario logueado -->
    <div th:if="${session.clienteLogueado == null}">
      <!-- Incluir el fragmento de formulario de login -->
      <div th:replace="~{iniciosesion/fragmentos :: formulario-login}"></div>
    </div>
    <div th:unless="${session.clienteLogueado == null}">
      <!-- Incluir el fragmento de usuario logueado -->
      <div th:replace="~{iniciosesion/fragmentos :: usuario-logueado}"></div>
    </div>

    <!-- Incluir el fragmento de pie de página -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>

    <!-- JavaScript de Bootstrap con Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
