<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- Include the head fragment -->
  <head th:replace="~{layout/plantilla :: head}"></head>
  <body>
    <!-- Include the header fragment -->
    <header th:replace="~{layout/plantilla :: header}"></header>

    <!-- Include the hero section fragment -->
    <section th:replace="~{layout/plantilla :: hero}"></section>

    <!-- Include the footer fragment -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
  </body>
</html>
