<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout/plantilla :: head}"></head>
  <body>
    <!-- Incluir el header -->
    <header th:replace="~{layout/plantilla :: header}"></header>

    <main>
      <!-- Sección del Encabezado -->
      <div th:replace="~{contactenos/fragmentos :: headerContacto}"></div>

      <!-- Sección de Botones de Contacto -->
      <div th:replace="~{contactenos/fragmentos :: botonesContacto}"></div>

      <!-- Sección de Formulario de Contacto -->
      <div th:replace="~{contactenos/fragmentos :: formularioContacto}"></div>
    </main>

    <!-- Incluir el footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
  </body>
</html>
