<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout/plantilla :: head}"></head>
  <body>
    <!-- Incluir el header -->
    <header th:replace="~{layout/plantilla :: header}"></header>

    <main>
      <!-- Encabezado de servicios -->
      <div th:replace="~{servicios/fragmentos :: servicios-header}"></div>

      <!-- Sección de servicios -->
      <div th:replace="~{servicios/fragmentos :: servicios-section}"></div>
    </main>

    <!-- Incluir el footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
  </body>
</html>
